:root{
    font-size: 62.5%;
}

body{
    margin: none;
    background-color: #070C15;
}
.separation{
    color: white;
}
footer{
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}

header > img{
    max-width: 150px;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}
header{
    background-color: #0f1a2f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
a{
    padding: 5px;
    color: #07DCA0;
}
#intro{
    color: black;
    background-image: linear-gradient(to right, #07DCA0, #0E458A);
    margin-left: none;
    margin-right: none;
    padding: 40px;
    font-size: 3rem;
}

article > img{
    max-width: 280px;
    width: 100%;
    margin: auto;
    justify-content: center;
    /*Esse elemento faz com que as imagens fiquem centralizadas*/
    display: block;
}
h3{
    color: #07DCA0;
}

.reading{
    color: white;
    line-height: 1.6em;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2rem;
}

#form{
    display: flex;
    flex-direction: column;
    background-color: #07DCA0;
    border-radius: 4px;
    justify-content: space-around;
    flex: wrap;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#form > p{
    font-size: small;
}

#buttons > a{
    align-self: center;
    border-radius: 50%;
    padding: 12px;
    background-image: linear-gradient(to left, #07DCA0, #0E458A);
}
#buttons > a:hover{
    background-image: linear-gradient(to right, #07DCA0, #0E458A);
}
#buttons > img{
    display: flex;
    flex: wrap;
}

.categorias{
    margin-left: 0px;
}
#cat{
    color: #06f0ae;
    
}
.quanti{
    color: #06f0ae;
    margin-right: 0px;
}

.test{
    display: flex;
    flex-direction: row;
}
.test1{
    display: flex;
    flex-direction: column;
    background-color: rgba(227, 127, 11, 0.714);
    margin-bottom: 20px;
    width: 50%;
    margin-right: 2px;
    align-items: center;
}
.test2{
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 24, 24, 0.629);
    width: 50%;
    margin-bottom: 20px;
    margin-left: 2px;
    align-items: center;
}
/*Só afeta o último atributo */
.test2 h2 span{
    color: blue;
}

#btn{
    border-radius: 30px;
    position: fixed;
    z-index: 1;
    top: 70%;
    margin-left: 8px;
}